<header class="header">
  <nav class="container-fluid p-3 mb-5 text-white">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand fs-3" href="{{ url_for('home') }}">InnoHub</a>
      <div class="">
        <ul class="d-flex flex-row justify-content-evenly fs-4 list-unstyled">
          <li class="px-3">
            <a
              href="{{ url_for('innovations') }}"
              class="text-decoration-none text-white"
              >Innovations</a
            >
          </li>
          <li class="px-3">
            <a href="" class="text-decoration-none text-white">API</a>
          </li>
          <li class="px-3">
            <a href="" class="text-decoration-none text-white">About Us</a>
          </li>
          <li class="px-3">
            <a href="" class="text-decoration-none text-white">Contact</a>
          </li>
        </ul>
      </div>
      <div class="">
        <ul
          class="d-flex flex-row justify-content-between fs-4 list-unstyled ps-2"
        >
          {% if current_user.is_authenticated %}
          <li class="px-3 nav-item dropdown">
            <a
              href="#"
              class="text-decoration-none text-white dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Dashboard</a
            >
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="{{ url_for('dashboard') }}"
                  >My dashboard</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('user_profile') }}"
                  >Edit profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('change_password') }}"
                  >Change Password</a
                >
              </li>
            </ul>
          </li>
          <li class="px-3">
            <a
              href="{{ url_for('logout') }}"
              class="text-decoration-none text-white"
              >Logout</a
            >
          </li>
          {% else %}
          <li class="px-3">
            <a
              href="{{ url_for('login') }}"
              class="text-decoration-none text-white"
              >Login</a
            >
          </li>
          <li class="px-3">
            <a
              href="{{ url_for('signup') }}"
              class="text-decoration-none signup-link"
              >Sign Up</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
