{% extends 'layouts.html' %}
<!-- Hero Section begins -->
{% block main %} {% if posts %} {% for post in posts %}
<div class="d-flex justify-content-around align-items-start">
  <div>
    <img
      src="{{ url_for('static', filename='images/uploads/' + post.user.picture) }}"
      alt=""
      width="90"
      height="90"
    />
  </div>
  <div class="card w-75 mb-4">
    <div class="card-body">
      <div class="d-flex flex-column" id="post-container">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">{{ post.description }}</h3>
          <span class="text-muted text-sm mx-1 mb-3"
            >{{ post.created_on }}</span
          >
        </div>
        <span class="text-muted text-md mx-1">
          <img
            src="{{ url_for('static', filename='images/uploads/' + post.image_url) }}"
            alt=""
            width="300"
            height="300"
          />
        </span>
        <p class="card-text">{{ post.description }}</p>
      </div>
      <p class="card-text"></p>
    </div>
  </div>
</div>
{% endfor %} {% endif %} {% endblock main%} {% block aside %}
<a
  href=""
  type="btn"
  class="p-3 rounded shadow bg-body-tertiary text-decoration-none fw-bold add"
  data-bs-toggle="modal"
  data-bs-target="#addInnovationModal"
  >New Innovation</a
>
<!-- Modal form for adding new innovation -->
<div
  class="modal fade"
  id="addInnovationModal"
  tabindex="-1"
  aria-labelledby="addInnovationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addInnovationModalLabel">
          Add new Innovation
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" enctype="multipart/form-data">
          {{ form.csrf_token }}
          <fieldset class="form-group">
            <div class="form-group mb-3">
              {{ form.title.label(class="form-control-label") }} {% if
              form.title.errors %} {{ form.title(class="form-control
              form-control-lg") }} {% for error in form.title.errors %}
              <p class="text-danger fs-6">{{ error }}</p>
              {% endfor %} {% else %} {{ form.title(class="form-control
              form-control-lg") }} {% endif %}
            </div>
            <div class="form-group mb-3">
              {{ form.description.label(class="form-control-label") }} {% if
              form.description.errors %} {{ form.description(class="form-control
              form-control-lg") }} {% for error in form.description.errors %}
              <p class="text-danger fs-6">{{ error }}</p>
              {% endfor %} {% else %} {{ form.description(class="form-control
              form-control-lg") }} {% endif %}
            </div>
            <div class="form-group mb-3">
              {{ form.image.label(class="form-control-label") }} {% if
              form.image.errors %} {{ form.image(class="form-control
              form-control-lg") }} {% for error in form.image.errors %}
              <p class="text-danger fs-6">{{ error }}</p>
              {% endfor %} {% else %} {{ form.image(class="form-control
              form-control-lg") }} {% endif %}
            </div>

            <div class="form-group mb-3">
              {{ form.category.label(class="form-control-label") }} {% if
              form.category.errors %} {{ form.category(class="form-control
              form-control-lg") }} {% for error in form.category.errors %}
              <p class="text-danger fs-6">{{ error }}</p>
              {% endfor %} {% else %} {{ form.category(class="form-control
              form-control-lg") }} {% endif%}
            </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group mb-3">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              {{ form.submit(class="btn btn-lg signup-btn") }}
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock aside %}
