{% extends 'layouts.html' %}
<!-- Hero Section begins -->
{% block main %} {% if posts %} {% for post in posts %}
<div class="d-flex justify-content-around align-items-start">
  <div class="card w-75 mb-4">
    <div class="card-body">
      <div class="d-flex flex-column" id="post-container">
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">
              <a href="{{ url_for('post.show', post_id=post.id) }}"
                >{{ post.title }}</a
              >
            </h3>
            <span class="text-muted text-sm mx-1 mb-3"
              >{{ post.created_on }}</span
            >
          </div>
          {% if current_user.isAuthenticated %}
          <div class="d-flex justify-content-around">
            <a
              href="#"
              class="btn btn-sm btn-secondary mx-3"
              data-bs-toggle="modal"
              data-bs-target="#editModal"
              >Edit</a
            >
            <a
              href="#"
              class="btn btn-sm btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
              >Delete</a
            >
          </div>
          {% endif %}
        </div>
        <span class="text-muted text-md mx-1">
          <img
            src="{{ url_for('static', filename='images/uploads/' + post.post_image) }}"
            alt=""
            width="300"
            height="300"
          />
        </span>
        <p class="card-text">{{ post.content }}</p>
      </div>
      <p class="card-text">{{ post.min_to_read }} min read</p>
    </div>
  </div>
</div>
{% endfor %} {% endif %} {% endblock main%} {% block aside %}
<a
  href=""
  type="btn"
  class="p-3 rounded shadow bg-body-tertiary text-decoration-none fw-bold add"
  data-bs-toggle="modal"
  data-bs-target="#addPostModal"
  >New Post</a
>
<!-- Modal form for adding new Post -->
<div
  class="modal fade"
  id="addPostModal"
  tabindex="-1"
  aria-labelledby="addPostModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addPostModalLabel">Add new Post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" enctype="multipart/form-data">
          <fieldset class="form-group">
            <div class="form-group mb-3">
              {{ form.title.label(class="form-control-label") }} {% if
              form.title.errors %} {{ form.title(class="form-control
              form-control-lg") }} {% for error in form.title.errors %}
              <p class="text-danger fs-6">{{ error }}</p>
              {% endfor %} {% else %} {{ form.title(class="form-control
              form-control-lg") }} {% endif %}
            </div>
            <div class="form-group mb-3">
              {{ form.content.label(class="form-control-label") }} {% if
              form.content.errors %} {{ form.content(class="form-control
              form-control-lg") }} {% for error in form.content.errors %}
              <p class="text-danger fs-6">{{ error }}</p>
              {% endfor %} {% else %} {{ form.content(class="form-control
              form-control-lg") }} {% endif %}
            </div>
            <div class="form-group mb-3">
              {{ form.min_to_read.label(class="form-control-label") }} {% if
              form.min_to_read.errors %} {{ form.min_to_read(class="form-control
              form-control-lg") }} {% for error in form.min_to_read.errors %}
              <p class="text-danger fs-6">{{ error }}</p>
              {% endfor %} {% else %} {{ form.min_to_read(class="form-control
              form-control-lg") }} {% endif %}
            </div>
            <div class="form-group mb-3">
              {{ form.category.label(class="form-control-label") }} {% if
              form.category.errors %} {{ form.category(class="form-control
              form-control-lg") }} {% for error in form.category.errors %}
              <p class="text-danger fs-6">{{ error }}</p>
              {% endfor %} {% else %} {{ form.category(class="form-control
              form-control-lg") }} {% endif%}
            </div>
            <div class="form-group mb-3">
              {{ form.post_image.label(class="form-control-label") }} {% if
              form.post_image.errors %} {{ form.post_image(class="form-control
              form-control-lg") }} {% for error in form.post_image.errors %}
              <p class="text-danger fs-6">{{ error }}</p>
              {% endfor %} {% else %} {{ form.post_image(class="form-control
              form-control-lg") }} {% endif%}
            </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group mb-3">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              {{ form.submit(class="btn btn-lg signup-btn") }}
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock aside %}
