{% include './partials/head.html' %} {% include './partials/nav.html'%}
<main class="container">
  <div class="row">
    <div class="col-md-7">
      {% with messages = get_flashed_messages(with_categories = true)%} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {%block main %} {% endblock main %}
    </div>
    <div class="col-md-5">{% block aside %} {% endblock aside%}</div>
  </div>
</main>
{% include './partials/footer.html' %}
