{% extends 'layouts.html' %} {% block content %} {% if post %}
<div class="card w-75 mb-3">
  <div class="card-body">
    <div class="d-flex flex-column" id="post-container">
      <div class="d-flex justify-content-between">
        <h3 class="card-title">{{ post.title }}</h3>
        {% if current_user.is_authenticated %}
        <div class="d-flex justify-content-around">
          <a
            href="#"
            class="btn btn-sm btn-secondary mx-3"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            >Edit</a
          >
          <a
            href="#"
            class="btn btn-sm btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
            >Delete</a
          >
        </div>
        {% endif %}
      </div>
      <span class="text-muted text-md mx-1">By {{ post.author.username }}</span>
      <span class="text-muted text-sm mx-1 mb-3">{{ post.post_date }}</span>
    </div>
    <p class="card-text">{{ post.description }}</p>
  </div>
</div>
{% else %}
<p class="display-2 text-muted">Page Not found</p>
<a href="{{ url_for('index') }}" class="text-info text-xl">Back</a>
{% endif %}

<!-- Modal form for editing Post -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Update Post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ modal_messages() }}
        <form action="" method="POST">
          <fieldset class="form-group">
            <div class="form-group mb-3">
              {{ form.title.label(class="form-control-label") }} {% if
              form.title.errors %} {{ form.title(class="form-control
              form-control-lg") }} {% for error in form.title.errors %}
              <p class="text-danger text-sm">{{ error }}</p>
              {% endfor %} {% else %} {{ form.title(class="form-control
              form-control-lg", value=post.title) }} {% endif %}
            </div>
            <div class="form-group mb-3">
              {{ form.description.label(class="form-control-label") }} {% if
              form.description.errors %} {{ form.description(class="form-control
              form-control-lg") }} {% for error in form.description.errors %}
              <p class="text-danger text-sm">{{ error }}</p>
              {% endfor %} {% else %}
              <textarea
                name="description"
                class="form-control form-control-lg"
                id=""
                cols="30"
                rows="5"
              >
              {{ post.description }}</textarea
              >
              {% endif %}
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {{ form.update(class="btn btn-lg btn-outline-info") }}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>

        <form
          action="{{ url_for('delete_post', post_id=post.id) }}"
          method="POST"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="submit" class="btn btn-danger" value="Yes" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
