{% extends 'layouts.html' %}
<!-- Hero Section begins -->
{% block main %}
<div class="card w-100 mb-3">
  <div class="card-body">
    <form action="" method="POST">
      <legend class="border-bottom mb-4">Change Password</legend>
      <div class="form-group mb-3">
        {{ form.current_password.label(class="form-control-label") }} {% if
        form.current_password.errors %} {{
        form.current_password(class="form-control form-control-lg") }} {% for
        error in form.current_password.errors %}
        <p class="text-danger text-sm">{{ error }}</p>
        {% endfor %} {% else %} {{ form.current_password(class="form-control
        form-control-lg") }} {% endif %}
      </div>
      <div class="form-group mb-3">
        {{ form.new_password.label(class="form-control-label") }} {% if
        form.new_password.errors %} {{ form.new_password(class="form-control
        form-control-lg") }} {% for error in form.new_password.errors %}
        <p class="text-danger text-sm">{{ error }}</p>
        {% endfor %} {% else %} {{ form.new_password(class="form-control
        form-control-lg") }} {% endif %}
      </div>
      <div class="form-group mb-3">
        {{ form.cpassword.label(class="form-control-label") }} {% if
        form.cpassword.errors %} {{ form.cpassword(class="form-control
        form-control-lg") }} {% for error in form.cpassword.errors %}
        <p class="text-danger text-sm">{{ error }}</p>
        {% endfor %} {% else %} {{ form.cpassword(class="form-control
        form-control-lg") }} {% endif %}
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="form-group mb-3">
        {{ form.submit(class="btn btn-lg btn-pri") }}
      </div>
    </form>
  </div>
</div>

{% endblock main%} {% block aside %}

<!-- Modal form for adding new innovation -->

{% endblock aside %}
